body {
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: #808080;
	min-height:100vh;
}

section {
	display: flex;
	flex-direction: column;
	flex: 1;
}

section div{
	display: flex;
	flex-direction: column;
	margin-top: 1em;
}
/*------------TABLEAU-----------*/
#tableau {
	display: flex;
	flex-direction: column;
	margin:5%;
}

#titres-colones {
	display: flex;
	flex-direction: row;
}

#titre1 {
    margin-left: 5%;
}
.autresTitres{
    min-width: 15%;
}
#titre4 {
    min-width: 50%;
}

.autresContenus{
    min-width: 15%;
}
#contenu4 {
    min-width: 55%;
}

#orgaButtonsList {
	display:flex;
	flex-direction: row;
}

.ListeTaches{
	border: 0px;
	width: 100%;
    height: 100%;
	border: 3px solid #35363A;
	border-radius: 15px;
	background-color: #808080;
	margin-bottom: 1%;
}
	
.ListeTaches:hover {
	background-color: #505050;
	border: 3px solid #27282B;
}

.ListeTaches:hover div p {
	color: #808080;
}
.ListeTaches div{
	display: flex;
	flex-direction: row;
}

#addButton {
	max-width: 50%;
	border-radius: 15px;
	border: 4px solid #35363A;
	background-color: #808080;
}

#addButton:hover {
	background-color: #505050;
	border: 4px solid #27282B;
}

#delete {
	max-width: 5%;
	max-height: 80%;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 20px;
}

#titreFormAdd {
	margin-left: 5%;
}

form {
	border-radius: 15px;
	border: 2px solid #35363A;
	margin-right: 5%;
	margin-left: 5%;
	padding-bottom: 20px;
	padding-left: 15%;
	padding-right: 15%;
}

#placeButton {
	padding-left: 15%;
}

#termine {
	transform: scale(2.5);
	margin-left: 2%;
	margin-top: 0.5%;
}

.elargir {
    background-color: #808080;
    border: 2px solid #35363A;
    min-width: 80%;
}

#valider {
	max-width: 40%;
	border-radius: 15px;
	border: 4px solid #35363A;
	background-color: #808080;
	margin-left: auto;
	margin-right: auto;
}

#valider:hover {
	background-color: #505050;
	border: 4px solid #27282B;
}

#contenu1 {
	margin-left: 2%;
}