footer {
	display: flex;
	justify-content: space-between;
	min-height: 8em;
	max-height: 8em;
	background: #35363A;
	padding: 1em;
}

#credits {
	display: flex;
	flex-direction: column;
}

footer div img {
	max-height: 6em;
}
footer div p {
	color: #808080;
}

#easteregg{
	margin-right: 20px;
	border-radius: 15px;
	color: #35363A;
	border: 4px solid #35363A;
	background-color: #35363A;
}

#easteregg:hover{
	color: #3b3c41;
}