body {
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: #808080;
	min-height:100vh;
}

section {
	display: flex;
	flex-direction: column;
	flex: 1;
}

section div{
	display: flex;
	flex-direction: column;
	margin-top: 1em;
}


#tableau {
	display: flex;
	flex-direction: column;
	margin:5%;
}
#titres-colones {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#titre1 {
	min-width: 60%;
}

.ListeTaches{
	border: 0px;
	border-radius: 15px;
	background-color: #808080;
	width: 100%;
	height: 100%;
}

.ListeTachesLien {
	border: 3px solid #35363A;
	border-radius: 15px;
	background-color: #808080;
	margin-bottom: 1%;
}

.ListeTachesLien:hover {
	background-color: #505050;
	border: 3px solid #27282B;
}
	
.ListeTaches:hover {
	background-color: #505050;
	border: 0px;
}

.ListeTaches:hover div p {
	color: #808080;
}
.ListeTaches div{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
